# Idea files
.idea

# Mac files
.DS_Store

# Byte-compiled / optimized / DLL files
docs/*.manifest
docs/*.spec

# Jekyll dev or build files
docs/_site/*
docs/_development_tool/*
docs/.sass-cache/*
docs/*.css.map
docs/*.scssc

# Theme Gem files
docs/Gemfile.lock
docs/*.gem
docs/.gems
docs/jekyll-theme-type-on-strap.gemspec
