article, .comments,  #post-nav {
    @extend %padding-regular;
    float: left;
    width: 100%;
}

.comments {
    border-bottom: 1px solid $border-color;
}

article {
    header {
        margin-bottom: 4%;
        text-align: center;
    }
    a:hover {
        @extend .body-link;
    }
    .footnotes {
        font-size: 0.9em;
    }
    padding-bottom: 0;
}

footer {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    display: inline-block;
    text-align: center;
    .meta {
        color: rgba($text-color, .5);
        letter-spacing: 0.1em;
        display: inline;
        text-transform: uppercase;
    }
    a.button {
        margin-left: 1em;
    }
    @extend %padding-regular;
}

header {
    h1 {
        margin: 0 0 0.1em 0;
    }
}

.meta {
    color: rgba($text-color, .7);
    font-size: 1.2em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}

.post-content {
    padding: 4% 0 2%;
}

/* --- Feature image --- */
.feature-image {
    padding: 0;
    .post-link {
        color: $feature-image-text-color;
    }
    header {
        color: $feature-image-text-color;
        background-size: $feature-image-size;
        margin-bottom: 0;
        padding: 8% $padding-large;
        .meta {
            color: rgba($feature-image-text-color, .7);
        }
    }
    .post-content {
        @extend %padding-regular;
        h1, h2 {
            margin-top: 1.87em;
        }
        h3, h4, h5, h6 {
            margin-top: 1.34em;
        }
        padding: 4% 20% 2%;
    }
    footer {
        @extend %padding-regular;
        padding-top: 0;
    }
}

// Responsive scrolling
.feature-image header {
    @media screen and (max-width: $break) {
        padding: $padding-large $padding-small;
    }
}
