
.feature-image {
  .tag-list {
    padding: 6% 20% 4%;
  }
}

.tag-list {
  width: 100%;
  font-size: 1em;
  padding: 6% 0 4% 0;
  text-align: center;

  .meta {
    margin-right: 0.5em;
    color: rgba($text-color, .5);
    font-size: 1.2em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }

  a.button {
    margin: 0.1em;
    padding: 0.2em 0.4em;
  }

  p {
    margin: 0;
    padding: 0 0.2em 0 0;
  }
}

.tag-anchor {
  margin-top: $padding-x-small*2;
  margin-bottom: $padding-x-small;
  a {
    color: $link-color;
    &:hover {
      text-decoration: none;
    }
  }
}

.tag-posts {
  display: inline-block;
  width: 100%;
  .tag-title {
    a {
      margin-left: $padding-x-small;
    }
    font-size: 1em;
  }
}

.tags-date {
  display: inline;
  line-height: normal;
  float: right;
}