.card-columns {
  column-count:2 !important;
  column-gap: 2rem !important;
}

.card-columns .card {
  margin-bottom: 2rem !important;
}

.archive-post-list {
  h1.archive-post-title {
    padding: 4% 0 2% 0;
    font-size: 5em;
    text-align:center;
  }

  h1.archive-post-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  h1.archive-post-title:before, h1.archive-post-title:after {
    background-color: $search-color;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.6em;
  }
  h1.archive-post-title:before {
    margin-right:15px;
  }
  h1.archive-post-title:after {
    margin-left:15px;
  }
}



